.container{
    text-align: center;
}
.counterbtn{
    width: 80px;
    height: 40px;
    color: black;
    background-color: antiquewhite;
    border-radius: 10px;
    border: none;
    border: 1px solid yellow ;
}
.counterbtn:hover{
    color:crimson;
    cursor: pointer;
}

.content{
    width: 500px;
    border: 1px solid rgb(63, 47, 47);
    height: 400px;
    text-align: center;
    padding-top: 50px;
    background-color: rgb(26, 118, 118);
}

#count{
   font-size: 50px;
   color: darkblue;
}
.counterbtn-form{
    padding: 10px;

}